/* GENERAL */

    body {margin: auto; max-width: 620px; text-align: center; font-family: 'EB Garamond'; line-height: 150%; padding-top: 10px}

    a {text-decoration: none}
    a:visited {text-decoration: none; color:#0000BB}

    hr {max-width: 620px}


/* TOP BANNER */

    #the {font-size: 105%; color: grey; line-height:140%}
    #garden {font-size: 180%; line-height:120%}

    .topmenu {display: inline-block; width: 19%; text-align: center}
    .banner {line-height: 1.5; max-width: 700px; margin: auto}

    .health {color: #ee1d24}
    .truth {color: #009000}
    .love {color: #000000}
    .beauty {color: #900090}
    .peace {color: #0038b8}
    .source {color: #bf9000}
    .diamond {font-size: 80%; position: relative; top: -1px;}


/* MIDDLE STUFF */

    .whylabel {font-family: 'Roboto Mono'; font-size: 90%; color: grey; line-height:50%}
    .whydiamond {font-size: 60%; position: relative; top: -2px}
    .whyheader {font-size: 250%; line-height: 110%}

    .godwayheader {font-size: 250%; line-height: 70%}

    .whatwholabel {font-family: 'Roboto Mono'; font-size: 80%; color: grey}
    .whatwhoheader {font-size: 130%}

    .primelabel {font-family: 'Roboto Mono'; font-size: 75%; color: grey; line-height:50%}
    .primediamond {font-size: 60%; position: relative; top: -2px}
    .primepreheadersmaller {font-size: 110%; line-height: 110%}
    .primepreheader {font-size: 130%; line-height: 110%}
    .primeheader {font-size: 180%; line-height: 110%}

    .subprimelabel {font-family: 'Roboto Mono'; font-size: 75%; color: grey; line-height:50%}
    .subprimediamond {font-size: 50%; position: relative; top: -2px}
    .subprimepreheader {font-size: 100%; line-height: 110%}
    .subprimeheader {font-size: 130%; line-height: 110%}

    .arealabel {font-family: 'Courier New'; font-size: 80%; color: grey;}

    .intropic {width: 55%; height: 55%; border: 5px solid #555;}

    .howto {line-height: 175%; width: 90%}
    .howtoreason {color: grey}

    .valuedefinition {color: grey}
    .valuereason {font-weight: bold;}
    .valueorder {font-size: 135%;}

    .centernameline {color: #696969;}

    .beforeaftermodule {color: grey;}
    .divisionlabel {font-family: 'Roboto Mono'; font-size: 70%; color: grey}

    .book {line-height: 175%; max-width: 100px; padding-left: 20px}

    .primestitle {font-size: 140%}
    .primeslist {font-size: 120%}

    .practicetitle {font-size: 160%}

    .howintro {line-height: 175%}
    .how {line-height: 175%}

    .resourcetitle {font-size: 150%}
    .resourcelevel{font-size: 120%; color: #333333; line-height: 80%}
    .resourcelist {text-align: left; padding: 10px}
    .resourcetype {font-family: 'Roboto Mono'; font-size: 80%; color: grey}
    .resource {padding-left: 10px}

    .level{font-size: 120%}

    .inpcetime{font-size: 125%}
    .inpcelabel{font-family: 'Roboto Mono'; font-size: 80%; color: grey}
    .inpcesmall{font-size: 85%; color: grey}

/* SCHEDULE TABLE */

    .scheduleleft {display: inline-block; width: 20%; text-align: top center; vertical-align: top}
    .value {font-family: 'Roboto Mono'; color: grey; font-size: 85%;}
    .valdiamond {font-size: 80%;}

    .scheduleright {display: inline-block; width: 74%; text-align: left}
    .conjunction {color: #696969;}

/* COMMEASURE TABLE */

    .commeasureheaderleft {display: inline-block; width: 7%; text-align: right}
    .commeasureheaderright {display: inline-block; width: 7%; text-align: left}
    .commeasureheadercenter {display: inline-block; width: 80%; text-align: center}

    .commeasureleft {display: inline-block; width: 7%; text-align: right}
    .commeasureright {display: inline-block; width: 7%; text-align: left}
    .commeasurecenter {display: inline-block; width: 80%; text-align: center}


/* BOTTOM BANNER */

    .waymenu {display: inline-block; width: 13%; text-align: center; line-height: 120%}
    .waymenucenter {line-height: 60%;}
    .bottommenu {display: inline-block; width: 32%; text-align: center}
    .downloadmenu {display: inline-block; width: 45%; text-align: center}
    .bottomdownload {font-family: 'Roboto Mono'; line-height: 0.5; font-size: 75%; font-weight: 540; color: #666666}
    .icons {height: 22px; width: 22px}

    .vertical-center {
      vertical-align: top;
    }

/* WEB RESPONSIVE */

    @media (orientation: landscape) {
        .return {display: none}
    }

    @media (orientation: portrait) {
        .diamond {display: none}
        .whydiamond {display: none}
        .primediamond {display: none}
        .subprimediamond {display: none}
    }
